@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat";
}

body {
    max-width: 1280px;
}

.navmenu{
    display: flex;
    max-width: 1280px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 2px solid #333;
    position: fixed;
    background-color: #ffffff;
}

.menu{
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    padding: 16px;
}

.menu a {
    margin-right: 20px;
}

.menuseleccionado{
    font-weight: bold;
}

.iconomenu{
    padding: 32px;
}

.icono{
    width: 18px;
    padding: 32px;
}

a{
    text-decoration:none;
    color: inherit;
}

.titulopagina{
    text-transform: uppercase;
    margin-top: 32px;
    margin-left: 32px;
    font-size: 32px;
    padding-top: 10%;
}

.imagenropa{
    border-radius: 5%;
    size: 14px;
}

.tarjetasropa{
    font-size: 14px;
}

.nuevacoleccion{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-bottom: 3%;
}

.imagenropa{
    size: 40px;
    transition: transform 0.3s, filter 0.3s;
}

.imagenropa:hover {
    transform: scale(1.08);
    filter: brightness(1.1);
}

.pieimagenropa{
    margin-top: 5%;
    margin-left: 5%;
}

strong{
    margin-left: 50%;
}

footer{
    background-color: #212429;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.divfooter{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-item{
    display: flex;
    align-items: center;
    font-size: 16px;
}

.footer-item p {
    white-space: nowrap;
}

.iconofooter{
    background-color: #ffffff;
    border-radius: 50%;
    display:inline-block;
    padding: 10px;
    margin-right: 10%;
    overflow: visible;
}

@media (max-width: 920px) {
    nav ul {
        flex-direction: column; /* Cambia a vertical en pantallas pequeñas */
        align-items: center; /* Centra los elementos en la barra */
    }
    .icono{
        display: none;
    }

    .menu{
        display: none;
    }

    .iconomenu{
        margin-left: 200px;
    }

    .divfooter {
        flex-direction: column;

    }
    .footer-item{
        border-bottom: 3px solid #ffffff;
        margin-bottom: 20px;
    }
    .iconofooter{
        margin-bottom: 10px;
        margin-right: 10px;
    }
}

